<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/css/mainmenu.css"/>
        <script src="/js/global.js" defer></script>
        <script src="/js/mainmenu.js" defer></script>
        <title>Menu</title>
    </head>
    <body>
        <h1>OREGON TRAIL</h1>
        <h2>MAIN MENU</h2>
        <ol>
            <li id='first'>Travel the trail</li>
            <li id='second'>setup</li>
            <li id='third'>See the Oregon top 10</li>
            <li id='sound'>Turn Sound on</li>
        </ol>
    </body>
</html>