<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/css/trail.css"/>
        <script src="/js/global.js" defer></script>
        <script src="/js/trail.js" defer></script>
        <title>trail</title>
    </head>
    <body>
        <h1>OREGON TRAIL</h1>
        <ul>
            <li>Days on trail</li>
            <li>Miles traveled</li>
            <li>Party health status</li>
            <li>Current pace</li>
            <li># of party members alive</li>
        </ul>
        <p id="press">press spacebar for the main menu</p>
    </body>
</html>